@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');

body {
  margin: 0;
}

.App-header {
  background-color: rgb(173,41,255);
  height: 55px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.Icons {
  text-align: right;
}

.NavText {
  text-align: left;
}

.Row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.Column {
    display: table-cell;
}

.Card {
  border-width: thick;
  padding:10px
}
